@charset "utf-8";

@media (max-width: 1400px) {

  .inner {
    padding: 0 60px;
  }

  .top_contents h3 {
    font-size: 42px;
  }

  .top_contents p {
    font-size: 18px;
  }

  .process ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  .process li {
    width: 100%;
    max-width: 300px;
  }

  .process li:nth-child(5) {
    grid-column: 2 / 4;
  }

}


@media (max-width:1200px) {


  .top_contents {
    padding: 100px 40px;
  }

  .select,
  .process,
  .expense,
  .application {
    padding: 120px 0px;
  }

  .contact_info {
    padding: 100px 40px 140px;
  }

  .process ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
  }

  .process li {
    max-width: 260px;
  }

  .process li:nth-child(5) {
    grid-column: 2 / 3;
  }

}

@media (max-width:1024px) {
  .top_contents .inner {
    gap: 40px;
  }

  .top_contents h3 {
    font-size: 36px;
  }

  .process ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .process li:nth-child(5) {
    grid-column: 1 / -1;
  }
  
}



@media (max-width:768px) {
  .top_contents .inner {
    display: grid;
    grid-template-columns: 1fr;
  }

  .top_contents .left,
  .top_contents .right {
    width: 100%;
  }

  .process ul {
    grid-template-columns: 1fr;
  }


  .process ul {
    grid-template-columns: 1fr;
  }

  .process li:nth-child(5) {
    grid-column: auto;
  }

  .process li>span:last-child {
    display: none;
  }
}

@media (max-width:700px) {

  .form_row {
    flex-direction: column;
    gap: 20px;
  }

  .form_group {
    margin-bottom: 20px;
  }

  .application form {
    padding: 30px 20px 40px;
  }

  .application .txt_box h3 {
    font-size: 28px;
  }

  .application .txt_box p {
    font-size: 16px;
  }

}