@charset "utf-8";


@media (max-width:1200px) {

  .main_visual {
    height: 520px;
  }

  .visual_inner {
    grid-template-columns: 50% 50%;
  }

  .visual_text h2 {
    font-size: 60px;
  }

  .visual_food img {
    width: 34vw;
    max-width: 600px;
  }

  .visual_food::before {
    width: 500px;
    height: 500px;
  }

  .visual_control {
    font-size: 14px;
    gap: 16px;
  }

  .progress_bar {
    width: 140px;
  }

  .menu_con {
    padding: 140px 0;
  }

  .menu_con .menu_box ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
  }

  .menu_con .menu_box ul li {
    padding: 30px 22px 34px;
    border-radius: 20px;
  }

  .menu_con .menu_box ul li img {
    width: 80%;
    margin: 0 auto 20px;
    border-radius: 18px;
    aspect-ratio: 1 / 0.9;
  }

  .menu_con .menu_box .txt_box em {
    font-size: 23px;
  }

  .menu_con .menu_box .txt_box p {
    font-size: 17px;
  }

  .menu_con .menu_box .txt_box span {
    font-size: 21px;
  }

  .menu_con .menu_box ul {
    gap: 36px;
  }


  .review_con {
    padding: 160px 0;
  }

  .review_con .card_box ul {
    gap: 40px;
  }

  .review_con .card {
    padding: 38px 28px;
    border-radius: 20px;
  }

  .review_con .review_txt {
    font-size: 18px;
    line-height: 1.7;
  }

  .review_con .stars img {
    width: 14px;
  }


  .value_con {
    padding: 120px 0;
  }

  .value_con ul {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    max-width: 720px;
  }

  .value_con ul li {
    padding: 50px 40px;
    min-height: auto;
  }

  .value_con .txt_box span {
    font-size: 30px;
  }

  .value_con .txt_box p {
    font-size: 18px;
  }

  .business_con {
    padding: 140px 0;
  }

  .business_con .inner {
    gap: 80px;
  }

  .business_con .txt_box h2 {
    font-size: 36px;
    line-height: 1.35;
  }

  .business_con .txt_box .sub {
    font-size: 18px;
  }

  .business_con .content_box {
    gap: 28px;
  }

  .business_con .btn_box {
    gap: 20px;
  }

  .business_con .btn_box a {
    font-size: 18px;
  }


  .search_con {
    padding: 120px 0;
  }

  .search_con .txt_box span {
    font-size: 40px;
  }

  .search_con .txt_box p {
    font-size: 28px;
  }

  .search_result {
    height: 500px;
  }
}


@media (max-width:1024px) {

  .main_visual {
    height: 480px;
  }

  .visual_inner {
    grid-template-columns: 55% 45%;
  }

  .visual_text h2 {
    font-size: 52px;
  }

  .visual_food img {
    width: 36vw;
  }

  .visual_control {
    bottom: 25px;
  }

  .menu_con .tit h2,
  .review_con .tit h2 {
    font-size: 40px;
  }

  .menu_con .tit p,
  .review_con .tit p {
    font-size: 22px;
  }

  .menu_con .menu_box ul li {
    padding: 24px 18px 28px;
  }

  .menu_con .menu_box ul li img {
    width: 80%;
    margin: 0 auto 16px;
    border-radius: 16px;
    aspect-ratio: 1 / 0.9;
  }

  .menu_con .menu_box .txt_box em {
    font-size: 22px;
  }

  .menu_con .menu_box .txt_box p {
    font-size: 16px;
  }

  .menu_con .menu_box .txt_box span {
    font-size: 19px;
  }


  .review_con .card_box ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
  }

  .review_con .card {
    padding: 34px 26px;
    border-radius: 20px;
  }

  .review_con .review_txt {
    font-size: 17px;
    line-height: 1.7;
  }

  .review_con .review_txt {
    font-size: 16px;
  }

  .review_con .people {
    font-size: 14px;
  }

  .business_con {
    padding: 120px 0;
  }

  .business_con .inner {
    gap: 60px;
  }

  .business_con .img_box img {
    border-radius: 24px;
  }

  .business_con .txt_box h2 {
    font-size: 32px;
    line-height: 1.35;
  }

  .business_con .txt_box .sub {
    font-size: 17px;
  }

  .business_con .content_box {
    gap: 24px;
  }

  .business_con .btn_box {
    gap: 16px;
  }

  .business_con .btn_box a {
    font-size: 15px;
    padding: 12px 22px;
    border-radius: 999px;
  }

  .search_top {
    flex-wrap: wrap;
  }

  .search_top select {
    flex: 1 1 calc(50% - 10px);
  }

  .search_top select:last-child {
    flex: 1 1 100%;
  }


}

@media (max-width:900px) {

  .review_con .card_box ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .review_con .card_box ul li {
    display: flex;
    justify-content: center;
  }

  .review_con .card {
    width: 100%;
    max-width: 100%;

  }
}

@media (max-width:768px) {

  .main_visual {
    height: 600px;
    padding: 0;
  }

  .main_visual .swiper,
  .main_visual .swiper-wrapper,
  .main_visual .swiper-slide {
    height: 100%;
  }

  .visual_inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
  }

  .visual_text h2 {
    font-size: 32px;
    line-height: 1.3;
  }

  .visual_food {
    transform: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .visual_food img {
    width: 80%;
    max-width: 420px;
    height: auto;
  }

  .visual_food::before {
    display: none;
  }

  .slide4 .visual_food {
    transform: scale(0.85);
  }

  .slide4 .visual_food img {
    height: auto;
  }

  .visual_control {
    bottom: 20px;
  }

  .visual_control {
    bottom: 18px;
  }

  .progress_bar {
    width: 90px;
  }

  .menu_con {
    padding: 90px 0;
  }

  .menu_con .tit h2 {
    font-size: 32px;
  }

  .menu_con .tit p {
    font-size: 18px;
    margin-bottom: 28px;
  }

  .menu_con .menu_box ul {
    grid-template-columns: 1fr;
    gap: 24px;
    max-width: 400px;
    margin: 0 auto;
  }

  .value_con {
    padding: 90px 0;
  }

  .value_con ul {
    grid-template-columns: 1fr;
    max-width: 420px;
    margin: 0 auto;
  }

  .value_con ul li {
    max-width: 100%;
    min-height: 240px;
    padding: 40px;
  }


  .value_con h2 {
    font-size: 32px;
  }

  .value_con>p {
    font-size: 20px;
    letter-spacing: 2px;
  }

  .value_con>em {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .business_con {
    padding: 100px 0;
  }

  .business_con .inner {
    grid-template-columns: 1fr;
    gap: 48px;
    text-align: center;
  }

  .business_con .img_box img {
    width: 90%;
    max-width: 380px;
    margin: 0 auto;
  }

  .business_con .content_box {
    align-items: center;
    gap: 28px;
  }

  .business_con .txt_box h2 {
    font-size: 24px;
    line-height: 1.4;
  }

  .business_con .txt_box .sub {
    font-size: 15px;
  }

  .business_con .btn_box {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 14px;
  }

  .business_con .btn_box a {
    width: 90%;
    max-width: 360px;
    padding: 14px 18px;
    font-size: 15px;
  }

  .business_con .notice {
    font-size: 14px;
    margin-top: 6px;
  }

  .search_con {
    padding: 90px 0;
  }

  .search_con .txt_box span {
    font-size: 28px;
  }

  .search_con .txt_box p {
    font-size: 18px;
  }

  .search_top {
    display: block;
  }

  .search_top select {
    display: block;
    width: 100%;
    height: 52px;
    margin-bottom: 14px;
    box-sizing: border-box;
    padding: 0 36px 0 16px;
    background-position: right 16px center;
  }

  .search_top select:last-child {
    margin-bottom: 0;
  }


  .search_result {
    height: 400px;
  }

}


@media (max-width:700px) {

  .review_con .card_box ul {
    grid-template-columns: 1fr;
  }

  .review_con .card {
    max-width: 100%;
  }

  .review_con {
    padding: 100px 0;
  }

}