@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* main */

main {
    width: 100%;
    background: transparent;
}

/* main_visual */

.main_visual {
    width: 100%;
    height: 670px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;

}

.main_visual .swiper-slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.slide1 {
    background-image: url(../img/메인비주얼01.svg);
}

.slide2 {
    background-image: url(../img/메인비주얼02.svg);
}

.slide3 {
    background-image: url(../img/메인비주얼03.svg);
}

.slide4 {
    background-image: url(../img/메인비주얼04.svg);
}

.visual_control {
    position: absolute;
    bottom: 60px;
    left: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    font-size: 18px;
    z-index: 10;
}

.progress_bar {
    width: 200px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;
}

.progress {
    width: 0%;
    height: 100%;
    background: #fff;
    transition: width 0.1s linear;
}

.prev_btn,
.next_btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.prev_btn:hover,
.next_btn:hover {
    opacity: 0.6;
}

.main_visual,
.menu_con,
.review_con,
.value_con,
.business_con,
.search_con {
    width: 100%;
}

/* menu_con */

.menu_con {
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    padding: 200px 0;
}

.menu_con .inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.menu_con .tit h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
    letter-spacing: -0.2px;
    line-height: 1.3;
}

.menu_con .tit p {
    font-size: 30px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 60px;
}

.menu_con .menu_box ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu_con .menu_box ul li {
    flex: 1;
    max-width: 280px;
}


.menu_con .menu_box ul li img {
    width: 100%;
    aspect-ratio: 1 / 1;
    /* 정사각형 */
    object-fit: cover;
    background: #68738b;
    border-radius: 16px;
    display: block;
    object-fit: cover;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.008);
    margin-bottom: 30px;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.menu_con .menu_box ul li:hover img {
    transform: scale(1.1);
    box-shadow: 0 18px 28px rgba(0, 0, 0, 0.008);
}

.menu_con .menu_box .txt_box em {
    display: block;
    font-size: 26px;
    font-weight: 600;
    color: #111;
    margin-bottom: 4px;
    font-style: normal;
    transition: 0.3s ease;
}

.menu_con .menu_box ul li:hover .txt_box em {
    color: #000;

}


.menu_con .menu_box .txt_box p {
    font-size: 19px;
    line-height: 1;
    color: #444341;
    margin-bottom: 16px;
}

.menu_con .menu_box .txt_box span {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #474746;
    ;
    transition: 0.3s ease;
}

.menu_con .more_btn {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.menu_con .more_btn a {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding: 0 44px;
    background: #ebebeb;
    color: #000;
    border-radius: 999px;
    font-size: 21px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.menu_con .more_btn a span {
    position: relative;
    z-index: 1;
}

.menu_con .more_btn a:hover span {
    color: #fff;
}

.menu_con .more_btn a:hover::before {
    left: 0;
}

.menu_con .more_btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #981b1b;
    transition: left 0.4s ease;
    z-index: 0;
}

/* review_con */

.review_con {
    width: 100%;
    background: rgba(250, 250, 250, 0.8);
    padding: 150px 0;
}

.review_con .inner {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.review_con .tit {
    margin-bottom: 90px;
}

.review_con .tit h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.1px;
    margin-bottom: 12px;
}

.review_con .tit p {
    font-size: 32px;
    color: #4A5565;
    font-weight: 400;
}

.review_con .card_box ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.review_con .card {
    height: 306px;
    background: #f7f4ef;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.05),
        0 2px 6px rgba(0, 0, 0, 0.03);
    transition: 0.3s ease;
    width: calc(33.333% - 27px);
    max-width: 389px;
}

.review_con .card:hover {
    transform: translateY(-6px);
    box-shadow:
        0 16px 30px rgba(0, 0, 0, 0.08),
        0 6px 12px rgba(0, 0, 0, 0.06);
}

.review_con .stars {
    display: flex;
    gap: 4px;
}

.review_con .stars img {
    width: 16px;
    margin-bottom: 6px;
}

.review_con .icon {
    margin-bottom: 8px;
    text-align: left;
}

.review_con .icon img {
    width: 40px;
    text-align: left;
}

.review_con .review_txt {
    font-size: 18px;
    line-height: 1.6;
    color: #364153;
    text-align: left;
}


.review_con .bottom {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
}

.review_con .people {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #B3261E;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
}

.review_con .people.blue {
    background: #1F2A44;
}

.review_con .people.oatmeal {
    background: #FEE3C1;
}

.review_con .name em {
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.review_con .name p {
    font-size: 14px;
    color: #6A7282;
}

/* ===== 리뷰 하단 메타 ===== */

.review_con .review_meta {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 16px;
}

.review_con .rating {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;

}

.review_con .rating::after {
    content: " ";
    position: absolute;
    width: 1px;
    height: 14px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #B5B5B5;
    font-size: 14px;
    opacity: 0.5;
}

.review_con .rating .star_icon {
    width: 18px;
}

.review_con .score {
    font-weight: 700;
    padding-right: 16px;
}

.review_con .label,
.review_con .score {
    color: #4A5565;
    font-weight: 600;
}


.review_con .review_count strong {
    font-weight: 700;
}

.review_con .more_btn {
    padding-top: 90px;
}

.review_con .more_btn a {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding: 0 44px;
    background: #ebebeb;
    color: #000;
    border-radius: 999px;
    font-size: 21px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.review_con .more_btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #981b1b;
    transition: left 0.4s ease;
    z-index: 0;
}

.review_con .more_btn a span {
    position: relative;
    z-index: 1;
}

.review_con .more_btn a:hover::before {
    left: 0;
}

.review_con .more_btn a:hover {
    color: #fff;
}

/* value_con */

.value_con {
    width: 100%;
    height: 860px;
    background: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.value_con>p {
    font-size: 30px;
    letter-spacing: 4px;
    color: #cfcfcf;
    margin-bottom: 16px;
    line-height: 1.5;
}

.value_con h2 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 1.6;
    margin-bottom: 12px;
}

.value_con>em {
    font-style: normal;
    font-size: 24px;
    color: #4A5565;
    margin-bottom: 80px;
    display: block;
    font-weight: 500;
}


.value_con ul {
    max-width: 1286px;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin: 0 auto;
}

.value_con ul li {
    width: 362px;
    height: 277px;
    background: #ffffff;
    border-radius: 28px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.06),
        0 2px 6px rgba(0, 0, 0, 0.04);
    transition: 0.3s ease;
}

.value_con ul li:hover {
    transform: translateY(-6px);
    box-shadow:
        0 16px 30px rgba(0, 0, 0, 0.08),
        0 4px 12px rgba(0, 0, 0, 0.06);
}


.value_con .icon {
    margin-bottom: 36px;
}

.value_con .icon img {
    width: 72px;
    height: auto;
}

.value_con .txt_box span {
    font-size: 34px;
    letter-spacing: -0.2px;
    font-weight: 600;
    display: block;
    margin-bottom: 16px;
}

.value_con .txt_box p {
    font-size: 20px;
    color: #2B3646;
    font-weight: 300;
}



/* business_con */

.business_con {
    min-height: 750px;
    background: rgba(250, 250, 250, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 150px 0;
}

.business_con .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    opacity: 0;
    transform: translateY(40px);
}

.business_con .txt_box h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
}

.business_con .txt_box .sub {
    font-size: 28px;
    font-weight: 400;
    color: #333;
}

.business_con .btn_box {
    display: flex;
    gap: 76px;
    align-items: center;
}

.business_con .btn_box a {
    width: 264px;
    height: 72px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease;
}

.business_con .more_btn {
    background: #fff;
    color: #171717;
    gap: 8px;
    border: 1px solid #981b1b;
}

.business_con .more_btn:hover {
    background: #981b1b;
    color: #fff;
}

.business_con .tel_btn {
    border: 1px solid #afafaf;
    color: #434343;
}

.business_con .tel_btn:hover {
    color: #000;
    background: var(--w-color);
    border: 1px solid #981b1b;
}


.business_con .notice {
    margin-top: 20px;
    font-size: 26px;
    color: #f5f5f5;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 20px;
    background: transparent;
    display: inline-block;
    transition: all 0.3s ease;
}

.business_con .notice::before {
    content: "✓  ";
}

.business_con .notice:hover {
    color: #981b1b;
    background: #fff;
}


/* search con */

.search_con {
    background: #ffffff;
    padding: 150px 0;
    text-align: center;
}

.search_con .inner {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.search_con .txt_box {
    margin-bottom: 56px;
}

.search_con .txt_box span {
    display: block;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
}

.search_con .txt_box p {
    font-size: 38px;
    color: #444;
}

.search_con .txt_box em {
    color: #981b1b;
    font-style: normal;
    font-weight: 800;
}

.search_con.active .txt_box span,
.search_con.active .txt_box p {
    opacity: 1;
}

.search {
    width: 100%;
}

.search_top {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.search_top select {
    flex: 1;
    height: 54px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 40px 0 16px;
    background: #fff url("../img/arrow.svg") no-repeat right 28px center;
    background-size: 16px;
}


.search_result {
    width: 100%;
    height: 600px;
    background: #e5e7eb;
    border-radius: 4px;
    overflow: hidden;
}

.search_result iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}

.reveal_item {
    opacity: 0;
    transform: translateY(40px);
}