@charset "utf-8";


.product_view.detail {
  background: var(--detail-bg);
  padding-bottom: 120px;
  padding-top: 120px;
}


.top_url {
  padding: 40px 0 10px;
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 40px;
}

.top_url nav {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.top_url nav .home span {
  margin-left: 10px;
}

.top_url nav .home span,
.top_url nav a {
  font-size: 16px;
  font-weight: 600;
}

.top_url nav .current {
  font-size: 16px;
  font-weight: 400;
}


.title {
  text-align: center;
  padding: 40px 0 60px;
  border-bottom: 2px solid var(--brand-color);
  margin-bottom: 60px;
}

.title h2 {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 40px;
}

.title p {
  font-size: 25px;
  color: var(--brand-color);
}

.menu_option {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 60px;
}

.menu_option button {
  padding: 12px 24px;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.25s ease;
  color: #333;
}

.menu_option button i {
  margin-right: 6px;
}

.menu_option button:hover {
  border-color: #981b1b;
  color: #981b1b;
}

.menu_option button.active {
  background: rgba(152, 27, 27, 0.08);
  color: #981b1b;
  border-color: #981b1b;
}

.best_box {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 80px;
  background: #fdf3f3;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.best_box .left {
  flex: 1;
}

.badge {
  display: inline-block;
  background: var(--brand_color);
  color: #fff;
  font-size: 22px;
  padding: 14px;
  border-radius: 27px;
  margin-bottom: 16px;
}

.best_box em {
  display: block;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 21px;
}

.best_box p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 21px;
  color: #2F2F2F;
}

.best_box span {
  font-size: 20px;
  color: #505050;
  line-height: 1.3;
  font-weight: 400;
}

.best_box .right {
  flex: 1;
  max-width: 520px;
}

.best_box .right img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: block;
}

.menu_all {
  max-width: 1320px;
  margin: 80px auto 0;
  padding: 0 20px;

}


.menu_all ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 30px;
}

.menu_all li {
  text-align: center;
  transition: transform 0.25s ease;
}

.menu_all li:hover {
  transform: translateY(-4px);
}

.menu_all img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 18px;
}

.menu_all em {
  display: block;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 26px;
  line-height: 1.1;
}

.menu_all p {
  font-size: 20px;
  color: #555;
  line-height: 1.4;
}

.delivery_btn {
  text-align: center;
  margin: 120px 0;
}

.delivery_btn a {
  display: inline-block;
  background: #fff;
  border: 1px solid var(--brand-color);
  color: #4d4d4d;
  padding: 20px 80px;
  border-radius: 16px;
  font-size: 28px;
  font-weight: 500;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease;
}

.delivery_btn a:hover {
  background: var(--brand-color);
  color: #fff;
}