@charset "utf-8";

main {
  background: #f6f6f6;
  padding-bottom: 120px;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.top_url {
  padding: 40px 0 10px;
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 40px;
}

.top_url nav {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.top_url nav .home span{
    margin-left: 10px;
}

.top_url nav .home span, 
.top_url nav a{
    font-size: 16px;
    font-weight: 600;
}


.top_url nav .current{
     font-size: 16px;
    font-weight: 400;
}

.title {
  text-align: center;
  padding: 40px 0 60px;
  border-bottom: 2px solid #981b1b;
  margin-bottom: 60px;
}

.title h2 {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 40px;
}

.title p {
  font-size: 25px;
  color: #981b1b;
}

.menu_option {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 60px;
}

.menu_option > div {
  padding: 12px 24px;
  border: 1px solid #5B5B5B;
  background: #fff;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.menu_option > div span {
  margin-right: 6px;
}

.menu_option .spicy_category {
  background: #981b1b;
  color: #fff;
}

.menu_option > div:hover {
   box-shadow: 0 18px 28px rgba(0, 0, 0, 0.081);
}

.best_box {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 80px;
  background: #f4f4f4;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.best_box .left {
  flex: 1;
}

.badge {
  display: inline-block;
  background: #981b1b;
  color: #fff;
  font-size: 22px;
  padding: 14px;
  border-radius: 27px;
  margin-bottom: 16px;
}

.best_box em {
  display: block;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 21px;
}

.best_box p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 21px;
  color: #2F2F2F;
}

.best_box span {
  font-size: 20px;
  color: #505050;
  line-height: 1.3;
  font-weight: 400;
}

.best_box .right {
  flex: 1;
  max-width: 520px;
}

.best_box .right img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: block;
}

.menu_all ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 40px;
}

.menu_all li {
  text-align: center;
}

.menu_all img {
  width: 100%;
  height: 180px;
  background: #d9d9d9;
  border-radius: 8px;
  margin-bottom: 30px;
}

.menu_all em {
  display: block;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 26px;
  line-height: 1.1;
}

.menu_all p {
  font-size: 20px;
  color: #555;;
  line-height: 1.4;
}

.delivery_btn {
  text-align: center;
  margin-top: 80px;
}

.delivery_btn a {
  display: inline-block;
  background: #fff;
  border: 1px solid #981b1b;
  color: #4d4d4d;
  padding: 20px 80px;
  border-radius: 16px;
  font-size: 28px;
  font-weight: 500;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  transition: 0.2s ease;
}

.delivery_btn a:hover {
  background: #981b1b;
  color: #fff;
}